pillow~=10.2.0
numpy~=1.26.3
langchain~=0.3.27
langchain-openai~=0.3.33
langchain-experimental~=0.3.4
PyYAML~=6.0.1
torch
sentence-transformers~=2.2.2
sacrebleu~=2.4.3
rouge_score~=0.1.2
astunparse~=1.6.3
zarr
git+https://git.h2t.iar.kit.edu/sw/armarx/python3-armarx.git
scikit-image